body{
    background: url(uyutnaya-novogodnyaya-atmosfera-tepla-i-chuda.jpg) no-repeat center/cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background: url(дед\ мороз.webp) no-repeat center/cover;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px lab(79.79% -2.9 80.43);
    color: white;
    position: relative;
    animation: appearCard 2s;
}
h1{
    font-size: 28px;
    margin: 0;
    text-shadow: 2px 4px 4px black;
}
p{
    font-size: 16px;
    margin: 10px 0;
    text-shadow: 2px 4px 4px black;
}
.card-content{
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    animation: arrearBlock 1.5s;
}
button{
    color: white;
    background-color: rgb(180, 55, 21);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(219,132,85,0.821);
    cursor: pointer;
}
button:hover{
    background-color: rgb(203, 125, 29);
    box-shadow: 2px 5px 5px rgba(251, 163, 32, 0.941);
}
@keyframes appearCard{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes arrearBlock{
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    
    50% {
        opacity: 0.5;
        transform: translateY(100%);
    }
    
    100% {
        opacity: 1;
        
    }
}